*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: var(--lightColor);
    font-size: 0.7rem;
}
:root{
    --primaryColor : #0c3b2e;
    --lightColor : #6d9773;
    --darkColor : rgb(173, 149, 9);
    --primaryLight : #BB8A52;
}
nav{
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid var(--darkColor);
}
nav ul{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
nav ul li{
    color: var(--lightColor);
}
nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
nav h1{
    font-size: 2.5rem;
    color: var(--darkColor);
    padding-left: 1rem;
}
nav h1 span{
    font-size: 2.5rem;
    color: var(--lightColor);
}
.hero{
    height: 92vh;
    display: flex;
    background-color: var(--primaryColor);
}
.hero .left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 3rem;

}
.hero .right{
    height: 100%;
    width: 50%;
}
.left p{
    color: var(--lightColor);
    font-size: 1.5rem;
}
.left h1{
    font-size: 3rem;
}
.socialMedia{
    width: 14rem;
    display: flex;
    justify-content: space-evenly;
}
.socialMedia img{
    height: 2rem;
    border-radius: 50%;
}
.socialMediaNames{
    display: flex;
    width: 13rem;
    justify-content: space-evenly;
    margin-top: -0.8rem;

}
.socialMediaNames p a{
    font-size: 0.9rem;

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    height: 100%;
}

.services{
    padding-left: 1rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    column-gap: 1rem;
    color: aliceblue;
    padding-top: 6rem;
    
}
.services div img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.services div{
    height: 24rem;
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    background-color: var(--lightColor);
    border-radius: 25% 10%;

}
.services h3{
    color: var(--lightColor);
}
.services div p{
    font-size: 1rem;
    padding: 0 3rem ;
}
.outsiderOfServices{
    color: var(--lightColor);
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    text-decoration: underline;
}

.services div:hover{
    cursor: pointer;
    background-color: var(--primaryLight);
}